.sidebar{
    &[data-color="black"]:after{
        @include icon-gradient(rgba(132, 252, 128, 0.37), rgba(rgba(204, 250, 162, 0.404),.7));
    }
    .logo-img img {
      max-width: 40px;
      max-height: 40px;
    }
}

@media (max-width: 991px){
  .sidebar .nav > li.active.active-pro {
    position: relative;
    bottom: unset;
  }
}

#bodyClick {
  position: absolute;
}
