.sidebar{
    &[data-color="black"]:after{
        @include icon-gradient(rgba(238, 238, 238, 0), rgba(rgb(205, 250, 162),.7));
    }
    .logo-img img {
      max-width: 40px;
      max-height: 40px;
    }
}

@media (max-width: 991px){
  .sidebar .nav > li.active.active-pro {
    position: relative;
    bottom: unset;
  }
}

#bodyClick {
  position: absolute;
}
